
/* Reducir títulos */

#djangocms-contenido, #django-ofrece,
#edicion-contenido, #djangocms-undo, #djangocms-probar,
#ejemplo-salt {
    h1 {
        font-size: 250%;
    }
}

/* Reducir títulos y texto todavía más */
#bloques-plugins, #djangocms-menus,
#djangocms-apphooks, #djangocms-wizard,
#convence-django {
    h1 {
        font-size: 200%;
    }

    p, li {
        font-size: 90%
    }
}

/* Reducir títulos y texto incluso más */
#djangocms-plugins, #djangocms-idiomas, #djangocms-plugins-3,
#presentacion-url {
    h1 {
        font-size: 180%;
    }

    p, li {
        font-size: 80%;
    }

    pre {
        font-size: 50%;
    }
}

/* Reducir texto */
#bloques-plugins {
    p {
        font-size: 60%;
    }
}

#django-cms-webs {
    h1 {
        font-size: 220%;
    }

    table {
        width: 100%;
    }
}

#django-cms-caracteristicas, #por-que-django-cms {
    h1 + h1 {
        font-size: 300%;
    }

    h1 {
        font-size: 260%;
    }
}


#django-falta-cms {
    width: auto;
    font-size: 300%;
}

#django-programadores {
    width: auto;

    h1 {
        font-size: 250%;
    }
}

#cms-magia {
    p {
        margin-bottom: 0;
    }

    p+p {
        margin-top: 0;
        margin-bottom: 1em;
    }
}

#framework  {
    width: auto;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    p+p {
        margin-bottom: 1em;
    }
}

#django-webs {
    p+p {
        font-size: 130%;
    }
}

#django-webs-2 {
    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    tr:nth-child(1) td:nth-child(2) {
        font-size: 70%;
    }
}


#convence-django {
    img {
        width: 60%;
    }
}

#impress video {
    width: 100%;
}

/* Vídeos */
#djangocms-usuario, #djangocms-admin, #djangocms-menus-2, #djangocms-contenido-2,
#djangocms-undo-2, #djangocms-idiomas-2, #djangocms-plugins-2, #djangocms-apphooks-2,
#djangocms-wizard-2 {
    min-width: 800px;
    width: 60vw;
    max-height: 95vh;
}